extends ../layouts/test-default

block content
    include ../mixins/about
    // start revolution slider section
    +fetchAboutSliders(data.aboutSliders)
    // end revolution slider section
    .container
        section#about.about
            h2=data.about.aboutUsTitle
            p=data.about.aboutUsText
        section#mission.about(style='text-align: center')
            h2=data.about.missionTitle
            hr(style='width: 50%; margin: auto')
            !=data.about.missionText
        section#vision.about(style='text-align: center')
            h2=data.about.visionTitle
            hr(style='width: 50%; margin: auto')
            !=data.about.visionText


block js-body
    script.
        $(document).ready(function () {

        })

