extends ../layouts/test-default

block content
    include ../mixins/about
    // start revolution slider section
    +fetchAboutSliders(data.aboutSliders ? data.aboutSliders : [])
    // end revolution slider section
    .container
        if data.about
            section#about.about.col-sm-8.col-sm-push-2
                h2=data.about.aboutUsTitle ? data.about.aboutUsTitle : ''
                p!=data.about.aboutUsText
    .container
        section#mission.about.col-sm-8.col-sm-push-2
            h2=data.about.missionTitle
            hr
            !=data.about.missionText
        section#vision.about.col-sm-8.col-sm-push-2
            h2=data.about.visionTitle
            hr
            !=data.about.visionText


block js-body
    script.
        $(document).ready(function () {

        })

