extends ../layouts/test-default

block content
    include ../mixins/about
    // start revolution slider section
    +fetchAboutSliders(data.aboutSliders)
    // end revolution slider section
    .container
        section#about.about
            h2=data.about.aboutUsTitle
            p!=data.about.aboutUsText
        section#mission.about
            h2=data.about.missionTitle
            hr
            !=data.about.missionText
        section#vision.about
            h2=data.about.visionTitle
            hr
            !=data.about.visionText


block js-body
    script.
        $(document).ready(function () {

        })

