extends ../layouts/test-default

block content
    include ../mixins/home-sliders
    // start revolution slider section
    +fetchSliders(data.homeSliders)
    // end revolution slider section

    include ../mixins/services
    +fetchServiceSlider(data.service)
    include ../mixins/video-section
    +fetchVideoSection({
        link: data.homeVideo.link,
        backgroundImage: {url: '/test/sliders/slide1.jpg'}

    })
    include ../mixins/howItWorks
    +fecthHowItWorks(data.homepageHowItWorks)
    include ../mixins/testimonials
    +fetchTestimonialsSection(data.testimonial)
    section#blog.section-main
        include ../mixins/blog
        +fetchBlogPreview(data.blogPosts)
        // start newsletter section
        section.newsletter.overflow-hidden
            .bg-image.newsletter-bg(style='background-image: url("' + '/images/newsletter.jpg' + '")',data-center='transform: translate3d(0px, -50%, 0px)', data-top-bottom='transform: translate3d(0px, -25%, 0px)', data-bottom-top='transform: translate3d(0px, -75%, 0px)')
            .overlay.overlay-five
                .section-common-space
                    .container
                        .row
                            .clearfix.col-sm-12.col-md-offset-2.col-md-10.col-lg-offset-2.col-lg-8
                                .section-heading
                                    h2.section-title NEWSLETTER
                                .clearfix.newsletter-form
                                    form.mailchimpForm(action='#')
                                        .mdl-textfield.mdl-js-textfield.news-letter-input
                                            input#nl_email.mdl-textfield__input(type='text', name='EMAIL', required)
                                            label.mdl-textfield__label(for='nl_email') YOUR EMAIL
                                        button.mdl-button.ripple-black.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btn-default.btn-white.wow.fadeInRight(type='submit', data-wow-duration='1.2s') Subscribe

        // end newsletter section


    include ../mixins/partners
    +fetchPartnersSlider(data.partners)
    // end testimonial and client logo section

    section.section-main
        section.overflow-hidden
            if data.homepageBanner
                .bg-image.newsletter-bg(data-center='transform: translate3d(0px, -50%, 0px)', data-top-bottom='transform: translate3d(0px, -25%, 0px)', data-bottom-top='transform: translate3d(0px, -75%, 0px)', style='background-image: url("' + data.homepageBanner.backgroundImage.url + '")')
                .overlay.overlay-five
                    .section-common-space
                        .container
                            .row
                                .clearfix.col-sm-12.col-md-offset-2.col-md-10.col-lg-offset-2.col-lg-8
                                    h2.section-title(style='color: #fff')=data.homepageBanner.title
                                    p(style='color: #fff')=data.homepageBanner.text
                                    a(href="/request-service")
                                        button.mdl-button.ripple-black.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btn-default.btn-white.wow.fadeInRight(type='submit', data-wow-duration='1.2s', style="float: right")=data.homepageBanner.buttontext

    section#contact.section-main.contact
        .container.container-map
            .map-wrapper
                #map
        .container.equal-height-map
            .row
                // start contact left section/contact address
                .col-sm-6.contact-info-start
                    .section-common-space
                        h2.section-title CONTACT US
                        .contact-info
                            .clearfix.ci-items
                                span.ci-icons
                                    i.zmdi.zmdi-home
                                address Pierre Gemayel Street, Bldg S.E.A. 3, First Floor, Dawra, Beirut
                            .clearfix.ci-items
                                span.ci-icons
                                    i.zmdi.zmdi-email
                                address info@bo.today
                            .clearfix.ci-items
                                span.ci-icons
                                    i.zmdi.zmdi-phone
                                address +961 1 255 217

                // end left contact section
                // start right contact section/contact form
                // end right contact section
            .row
                .col-sm-6
                    form#contactForm.matx-form-valid.contact-form(action='#', method='post')
                        input(type='hidden', name='action', value='contact')
                        .row
                            .col-sm-12.col-md-6
                                .mdl-textfield.mdl-js-textfield
                                    input#name.mdl-textfield__input.input-red(type='text', name='contactName')
                                    label.mdl-textfield__label.label-black(for='name') Name
                            .col-sm-12.col-md-6
                                .mdl-textfield.mdl-js-textfield
                                    input#email.mdl-textfield__input.input-red(type='text', name='contactEmail')
                                    label.mdl-textfield__label.label-black(for='email') Email
                        .row
                            .col-sm-12
                                .mdl-textfield.mdl-js-textfield
                                    input#phone.mdl-textfield__input.input-red(type='text', name='contactPhone')
                                    label.mdl-textfield__label.label-black(for='phone') Phone
                        .row
                            .col-sm-12
                                .mdl-textfield.mdl-js-textfield
                                    input#subject.mdl-textfield__input.input-red(type='text', name='contactSubject')
                                    label.mdl-textfield__label.label-black(for='subject') Subject
                        .row
                            .col-sm-12
                                .mdl-textfield.mdl-js-textfield.mdl-textarea
                                    textarea#message.mdl-textfield__input.input-red(name='contactMessage')
                                    label.mdl-textfield__label.label-black(for='message') Message
        // start map section

        // end map section




block js-body
    script.
        doneResize(function () {

            // Home slider height fix
            homeSliderHeightFix();

            // Update Google Map Positions
            map.setCenter({
                lat: mapOps.lat,
                lng: mapOps.lng
            });
            map.panBy(mapOps.panBy.x, mapOps.panBy.y);
        });

        $(document).ready(function () {

            if ($('.equal-height-map').width() > 768) {
                $('#map').css('height', $('.equal-height-map').height());
            }
            $(window).resize(function () {
                if ($('.equal-height-map').width() > 768) {
                    if ($('#map').height() !== $('.equal-height-map').height()) {
                        $('#map').css('height', $('.equal-height-map').height());
                    }
                }
            });


            var owl = $('.owl-carousel-services');
            owl.owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                lazyLoad: true,
                autoPlay: true,
                autoPlayTimeout: 1000,
                autoPlayHoverPause: true,
                autoPlaySpeed: 2000,
                items: 3,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 2,
                        nav: false
                    },
                    1000: {
                        items: 3,
                        nav: true
                    }
                }
            })
            owl.trigger('play.owl.autoplay', [1000])
        })

