extends ../layouts/page
block css
    link(rel='stylesheet', type='text/css', href='/styles/selectDropdown.css')


block content
    .container.text-center
        h2.title-sec  Request Services

        .row
            .col-md-8
                form#contactRequestServiceForm.matx-form-valid.contact-form(action='#', method='post')
                    input(type='hidden', name='action', value='request_service')
                    .row
                        .col-sm-12.col-md-6
                            .mdl-textfield.mdl-js-textfield
                                input#contactOrganizationName.input-red.mdl-textfield__input(type='text', name='contactOrganizationName')
                                label.label-black.mdl-textfield__label(for='contactOrganizationName') Organization Name
                        .col-sm-12.col-md-6
                            .mdl-textfield.mdl-js-textfield
                                input#contactName.input-red.mdl-textfield__input(type='text', name='contactName')
                                label.label-black.mdl-textfield__label(for='contactName') Contact Name
                    .row
                        .col-sm-6
                            .mdl-textfield.mdl-js-textfield
                                input#contactEmail.input-red.mdl-textfield__input(type='text', name='contactEmail')
                                label.label-black.mdl-textfield__label(for='contactEmail') Email
                        .col-sm-6
                            .mdl-textfield.mdl-js-textfield
                                input#contactMobileNumber.input-red.mdl-textfield__input(type='text', name='contactMobileNumber')
                                label.label-black.mdl-textfield__label(for='contactMobileNumber') Mobile Number
                    .row
                        //.col-sm-6
                            .mdl-textfield.mdl-js-textfield.mdl-textarea
                                textarea#contactInterests.mdl-textfield__input(name='contactInterests')
                                label.mdl-textfield__label(for='contactInterests') Interested
                        .col-sm-6
                            .mdl-textfield.mdl-js-textfield.mdl-select
                                label.label-black.mdl-textfield__label(for='contactInterests') Interested
                                div.form-input-select
                                    select#contactInterests.mdl-switch__input(name='contactInterests')
                                        option(value='') (select one)
                                        each type in interestedTypes
                                            option(value=type.value, selected=formData.interestedTypes === type.value)= type.label
                        .col-sm-6
                            .mdl-textfield.mdl-js-textfield.mdl-select
                                label.label-black.mdl-textfield__label(for='contactBudget') Budget
                                div.form-input-select
                                    select#contactBudget.mdl-switch__input(name='contactBudget')
                                        option(value='') (select one)
                                        each type in contactBudgetTypes
                                            option(value=type.value, selected=formData.contactBudgetTypes === type.value)= type.label

                    .row
                        .col-sm-12
                            .text-center(style="margin-top: 30px")
                                button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btn-black.btn-default.btn-submit(disabled='', style="") send

            .col-md-4.contact-info-start
                .section-common-space
                    h2.section-title CONTACT US
                    .contact-info
                        .clearfix.ci-items
                            span.ci-icons
                                i.zmdi.zmdi-home
                            address Pierre Gemayel Street, Bldg S.E.A. 3, First Floor, Dawra, Beirut
                        .clearfix.ci-items
                            span.ci-icons
                                i.zmdi.zmdi-email
                            address info@bo.today
                        .clearfix.ci-items
                            span.ci-icons
                                i.zmdi.zmdi-phone
                            address +961 1 255 217

