extends ../layouts/page

block css
    link(href="/styles/services.css", rel="stylesheet")

block content
    .container
        include ../mixins/services
        +fetchServices(data.services)

block js-body
    script.
        $(document).ready(function () {

        })

