.logo-dark,
.logo-lite {
  max-width: 60px;
}
.footer-logo {
  max-width: 80px;
}
.container-map {
  width: 100%;
  position: absolute;
  padding: 0;
}
.map-wrapper {
  margin-top: 0;
  width: 50%;
  float: right;
}
.map-wrapper #map {
  height: 500px;
}
@media (max-width: 767px) {
  .map-wrapper {
    width: 100%;
  }
  .container-map {
    position: relative;
  }
}
.contact-form {
  padding-top: 20px;
}
.section-heading p {
  font-size: 1.4rem;
}
@media only screen and (min-width: 768px) {
  .is-table-row {
    display: table;
  }
  .is-table-row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
}
#bg_container {
  height: 100%;
  overflow: hidden;
}
#bg {
  width: 100%;
  height: 900px;
}
#content {
  position: absolute;
  top: 0px;
  padding: 30px;
  color: #fff;
  text-shadow: #000 2px 2px;
}
.label-black {
  color: #000;
}
.input-red {
  border-bottom: 1px solid rgba(255,82,82,0.8);
}
