@import "navbar"
@import "footer"
body, h1, h2
  font-family wfont_e11cc5f_658a6dda3f5c414aa58255a07ffe190d, wf_658a6dda3f5c414aa58255a07, orig_proximanovasemibold

.container-map
  width 100%
  position absolute
  padding 0

.map-wrapper
  margin-top 0
  width 50%
  float right
  #map
    height 500px

@media (max-width: 767px)
  .map-wrapper
    width 100%

  .container-map
    position relative

.contact-form
  padding-top 20px

.section-heading p
  font-size 1.4rem

@media only screen and (min-width: 768px) {
  .is-table-row {
    display: table;
  }

  .is-table-row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
}

#bg_container {
  height: 100%;
  overflow: hidden;
}

#bg_container iframe {
  width: 100%;
  height: 900px;
}

#content {
  position: absolute;
  top: 0px;
  padding: 30px;
  color: #FFF;
  text-shadow: #000 2px 2px;
}

.label-black
  color: black

.input-red
  border-bottom: 1px solid rgba(255, 82, 82, 0.8)

section
  &#mission
    h2
      color red
    hr
      display block
      height 1px
      border 0
      border-top 1px solid red
      margin 1em auto
      padding 0
      width 50%
  &.about
    h2
      text-align center

.banner-header
  .banner-content
    h2
    & h3
      color white

section.section-main
  .overlay
    background-color rgba(34, 34, 34, 0.4)

.our-model
  h1, h2, h3, h4, h5, h6, p, li
    color white
  p, li
    font-size 22px
  padding-top 20px
  padding-bottom 40px
  padding-left 20px

.bg-image-training
  background-color rgb(68, 63, 63)
