mixin fecthHowItWorks(data)
    section#how_it_work.section-main
        .section-common-space
            .container
                // start section title
                if data
                    .text-center.section-heading
                        h2.section-title=data.title
                        br
                        !=data.text

