mixin fetchVideoSections(homePageVideo)
    // start video section
    section.video-checkout.overflow-hidden
        div
            .video-background
                .video-foreground
                    iframe(src=homePageVideo.link, frameborder='0', allowfullscreen='')
            #vidtop-content
                .vid-info
                    h1 YouTube Fullscreen Background Demo
                    p
                        | The International Space Station orbits the Earth every 92 minutes, with its crew seeing a sunrise 15 times a day. It exists as a scientific, educational, and engineering platform in low orbit, 330 to 435 kilometres above the Earth.
                    p
                        | Original timelapse by Riccardo Rossi (ISAA), used under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License. Raw photos courtesy of http://eol.jsc.nasa.gov/
                        a(href='/500/Use-YouTube-Videos-as-Fullscreen-Web-Page-Backgrounds') Full article

    // end video section

//
            .bg-image(style='background-image: url("'+ homePageVideo.backgroundImage.url +'")',data-center='transform: translate3d(0px, -50%, 0px)', data-top-bottom='transform: translate3d(0px, -25%, 0px)', data-bottom-top='transform: translate3d(0px, -75%, 0px)')
            .overlay.overlay-three
                .section-common-space
                    .container
                        .text-center.video-checkout-content-start
                            div
                                a.show-video.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.btn-highlight(href=homePageVideo.link)
                                    i.zmdi.zmdi-play

mixin fetchVideoSection(homePageVideo)
    #bg_container
        !=homePageVideo.link
    #content
