doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
// [if gt IE 8] <!
html.matx.no-js
    // <![endif]
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Matx - Material Design Agency Template
        meta(name='description', content='Material Agency Template')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        block meta
        // matx favicons
        link(rel='apple-touch-icon-precomposed', sizes='57x57', href='matx-icon/apple-touch-icon-57x57.png')
        link(rel='apple-touch-icon-precomposed', sizes='114x114', href='matx-icon/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon-precomposed', sizes='72x72', href='matx-icon/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon-precomposed', sizes='144x144', href='matx-icon/apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon-precomposed', sizes='120x120', href='matx-icon/apple-touch-icon-120x120.png')
        link(rel='apple-touch-icon-precomposed', sizes='152x152', href='matx-icon/apple-touch-icon-152x152.png')
        link(rel='icon', type='image/png', href='matx-icon/favicon-32x32.png', sizes='32x32')
        link(rel='icon', type='image/png', href='matx-icon/favicon-16x16.png', sizes='16x16')
        meta(name='application-name', content=' ')
        meta(name='msapplication-TileColor', content='#FFFFFF')
        meta(name='msapplication-TileImage', content='matx-icon/mstile-144x144.png')
        // Google Fonts
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700italic,700,500italic,900', rel='stylesheet', type='text/css')
        // Stylesheets
        link(rel='stylesheet', href='/assets/libs/material-design-iconic-font/css/material-design-iconic-font.min.css')
        link(rel='stylesheet', href='/assets/libs/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='/assets/libs/mdl/material.min.css')
        link(rel='stylesheet', href='/assets/css/animate.min.css')
        link(rel='stylesheet', href='/assets/libs/owl-carousel/owl.carousel.css')
        link(rel='stylesheet', href='/assets/libs/owl-carousel/owl.theme.css')
        link(rel='stylesheet', href='/assets/libs/owl-carousel/owl.transitions.css')
        link(rel='stylesheet', href='/assets/libs/magnific-popup/magnific-popup.css')
        link(rel='stylesheet', href='/assets/libs/sweetalert/sweet-alert.min.css')
        link(rel='stylesheet', href='/assets/libs/sweetalert/ie9.css')
        link(rel='stylesheet', href='/assets/css/common.css')
        link(rel='stylesheet', href='/assets/css/main.css')
        link(rel='stylesheet', href='/assets/css/responsive.css')
        link(href="/styles/site.css", rel="stylesheet")
        // Header Scripts
        //if lt IE 9
          script(src='/assets/js/vendor/html5shiv.js')

        block css
        block head
    body
        //if lt IE 7
          p.browsehappy
            | You are using an
            strong outdated
            |  browser. Please
            a(href='http://browsehappy.com/') upgrade your browser
            |  to improve your experience.
        // Loader
        #loader.loader-wrapper
            .matx-preloader
        // Overlay display while mobile navigation will open
        .nav-overlay-bg
        // start site main header
        header.main-header.is-sticky
            // start desktop logo
            a.logos.matx-logo.logo-initial.hide-init-animation(href='/')
                img.logo-dark(src='/images/bot-logo.png', alt='logo')
                img.logo-lite(src='/images/bot-logo.png', alt='logo')
            // end desktop logo
            // start desktop nav
            nav.nav-typo.main-nav
                ul
                    each link in navLinks
                        li(class=(section === link.key) ? 'active' : '')
                            a(href=link.href, data-target='#about')=link.label
                    if user
                        if user.canAccessKeystone
                            li: a(href='/keystone') Open Keystone
                        li: a(href='/keystone/signout') Sign Out
            // end desktop nav
            // start mobile logo
            a.logo.matx-logo.mobile-logo.menu-smooth-scroll(href='#', data-target='#home')
                img(src='/images/bot-logo.png', alt='logo')
            // end mobile logo
            // toogle icons, which are responsible for display and hide menu in small layout
            .mdl-layout__drawer-button.mobile-menu-area
                i#menu-back-btn.mobile-menu-ctrl.zmdi.zmdi-arrow-right
                i#menu-show-btn.mobile-menu-ctrl.active.zmdi.zmdi-menu
        // end site main header
        // start mobile nav
        nav.nav-typo.mobile-nav
            ul
                each link in navLinks
                    li(class=(section === link.key) ? 'active' : '')
                        a(href=link.href, data-target='#about')= link.label
                if user
                    if user.canAccessKeystone
                        li: a(href='/keystone') Open Keystone
                    li: a(href='/keystone/signout') Sign Out
        // end mobile nav
        div(style='height: 60px; ')
        // start main wrapper
        main#top.main-wrapper
            block content

        // end main wrapper
        // start main footer
        footer.main-footer
            section.footer-top
                .section
                    .section-common-space
                        .container
                            .row
                                .text-center.ft-content-start
                                    a.logo.menu-smooth-scroll.footer-logo.wow.fadeIn(href='', data-target='#home', data-wow-duration='1s')
                                        img(src='/images/bot-logo.png', alt='logo')
                                    ul.clearfix.social.footer-social.hover-round
                                        li
                                            a(href='https://www.facebook.com/BO.2DAY/')
                                                i.zmdi.zmdi-facebook
                                        li
                                            a(href='https://www.linkedin.com/company/27008207/')
                                                i.zmdi.zmdi-linkedin
                                        li
                                            a(href='https://www.instagram.com/bo.2day')
                                                i.zmdi.zmdi-instagram
            section.footer-bottom
                .text-center
                    p 
                        span Developped and Designed by
                        a(href='http://codi.tech/')
                            img(src="/images/footer-codi-logo.svg", width='50', height='50')
        // end main footer
        // footer script start
        script.
            window.jQuery || document.write('<script type="text/javascript" src="/assets/js/vendor/jquery-1.10.2.min.js"><\\/script>')
        script(type='text/javascript', src='//platform.twitter.com/widgets.js')
        script(type='text/javascript', src='/assets/libs/mdl/material.min.js')
        script(type='text/javascript', src='/assets/libs/sweetalert/sweet-alert.min.js')
        script(type='text/javascript', src='/assets/js/all-plugins.js')
        script(type='text/javascript', src='/assets/js/common-plugins.js')
        script(type='text/javascript', src='/assets/libs/owl-carousel/owl.carousel.min.js')
        script(type='text/javascript', src='/assets/libs/magnific-popup/jquery.magnific-popup.min.js')
        script(type='text/javascript', src='/assets/js/common.js')
        script(type='text/javascript', src='/assets/js/all-components.js')
        // Global Site Tag (gtag.js) - Google Analytics
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-101196401-2')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments)
            };
            gtag('js', new Date());
            gtag('config', 'UA-101196401-2');

        script.
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-101196401-2', 'auto');
            ga('send', 'pageview');

