<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="matx no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Matx - Material Design Agency Template</title>
        <meta name="description" content="Material Agency Template">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- matx favicons -->
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="matx-icon/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="matx-icon/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="matx-icon/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="matx-icon/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="matx-icon/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="matx-icon/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="matx-icon/favicon-32x32.png" sizes="32x32"/>
        <link rel="icon" type="image/png" href="matx-icon/favicon-16x16.png" sizes="16x16"/>
        <meta name="application-name" content="&nbsp;" />
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="matx-icon/mstile-144x144.png"/>
        
        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700italic,700,500italic,900' rel='stylesheet' type='text/css'>
        <!-- Stylesheets -->
        <link rel="stylesheet" href="assets/libs/material-design-iconic-font/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" href="assets/libs/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="assets/libs/mdl/material.min.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/libs/owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="assets/libs/owl-carousel/owl.theme.css">
        <link rel="stylesheet" href="assets/libs/owl-carousel/owl.transitions.css">
        <link rel="stylesheet" href="assets/libs/magnific-popup/magnific-popup.css">
        <link rel="stylesheet" href="assets/libs/sweetalert/sweet-alert.min.css">
        <link rel="stylesheet" href="assets/libs/sweetalert/ie9.css">

        <link rel="stylesheet" href="assets/css/common.css">
        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="assets/css/responsive.css">

        <!-- Other Color Schemes -->
        <!-- <link rel="stylesheet" href="assets/css/color-cyan.css"> -->
        <!-- <link rel="stylesheet" href="assets/css/color-indigo.css"> -->
        <!-- <link rel="stylesheet" href="assets/css/color-deep-purple.css"> -->
        <!-- <link rel="stylesheet" href="assets/css/color-pink.css"> -->
        <!-- <link rel="stylesheet" href="assets/css/color-blue.css"> -->
        <!-- <link rel="stylesheet" href="assets/css/color-green.css"> -->
        <!-- <link rel="stylesheet" href="assets/css/color-deep-orange.css"> -->
        <!-- <link rel="stylesheet" href="assets/css/color-blue-grey.css"> -->
        <!-- <link rel="stylesheet" href="assets/css/color-teal.css"> -->
        <!-- <link rel="stylesheet" href="assets/css/color-purple.css"> -->
        <!-- <link rel="stylesheet" href="assets/css/color-light-green.css"> -->

        <!-- Header Scripts -->
        <!--[if lt IE 9]>
            <script src="assets/js/vendor/html5shiv.js"></script>
        <![endif]-->

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Loader -->
        <div id="loader" class="loader-wrapper">
            <div class="matx-preloader"></div>
        </div>
        
        <!-- Overlay display while mobile navigation will open  -->
        <div class="nav-overlay-bg"></div>
        
        <!-- start site main header -->
        <header class="main-header is-sticky">

            <!-- start desktop logo -->
            <a href="#" class="logos matx-logo">
                <img class="logo-dark" src="img/popup-logo.png" alt="logo">
                <img class="logo-lite" src="img/popup-logo.png" alt="logo">
            </a>
            <!-- end desktop logo --> 
            
            <!-- start desktop nav -->
            <nav class="nav-typo main-nav">
                <ul>
                    <li class="menu-item-has-children">
                        <a href="#">Home</a>
                        <ul class="sub-menu">
                            <li><a href="index.html">Home 1</a></li>
                            <li><a href="home2.html">Home 2</a></li>
                            <li><a href="home3.html">Home 3</a></li>
                        </ul>
                    </li>
                    <li><a target="_blank" href="rtl/components.html">RTL Version</a></li>
                    <li class="menu-item-has-children">
                        <a href="#">More Pages</a>
                        <ul class="sub-menu">
                            <li class="menu-item-has-children">
                                <a href="#">Portfolio Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="portfolio/single-pages/portfolio-single-01.html">Slider Style</a></li>
                                    <li><a href="portfolio/single-pages/portfolio-single-02.html">List Style</a></li>
                                    <li><a href="portfolio/single-pages/portfolio-single-03.html">List Full Style</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Blog Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="blog/blog-standard.html">Blog Standard</a></li>
                                    <li><a href="blog/blog-masonry.html">Blog Masonry</a></li>
                                    <li><a href="blog/blog-masonry-sidebar.html">Blog Masonry Sidebar</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Single Blog Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="blog/single/single.html">Image</a></li>
                                    <li><a href="blog/single/single-audio.html">Audio</a></li>
                                    <li><a href="blog/single/single-video-vimeo.html">Vimeo</a></li>
                                    <li><a href="blog/single/single-video-youtube.html">Youtube</a></li>
                                    <li><a href="blog/single/single-video.html">HTML5 Video</a></li>
                                    <li><a href="blog/single/single-slider.html">Slider</a></li>
                                    <li><a href="blog/single/single-quote.html">Quote</a></li>
                                </ul>
                            </li>
                            <li><a target="_blank" href="http://themeforest.net/item/matx-material-design-agency-template/13887396">Buy Now</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- end desktop nav -->

            <!-- start mobile logo -->
            <a href="#" class="logo matx-logo mobile-logo menu-smooth-scroll" data-target="#home">
                <img src="img/logo_lite.png" alt="logo">
            </a>
            <!-- end mobile logo -->
            
            <!-- toogle icons, which are responsible for display and hide menu in small layout -->
            <div class="mdl-layout__drawer-button mobile-menu-area">
                <i id="menu-back-btn" class="mobile-menu-ctrl zmdi zmdi-arrow-right"></i>
                <i id="menu-show-btn" class="mobile-menu-ctrl active zmdi zmdi-menu"></i>
            </div>
            
        </header>
        <!-- end site main header -->

        <!-- start mobile nav -->
        <nav class="nav-typo mobile-nav">
            <ul>
                <li class="menu-item-has-children">
                    <a href="#">Home</a>
                    <ul class="sub-menu">
                        <li><a href="index.html">Home 1</a></li>
                        <li><a href="home2.html">Home 2</a></li>
                        <li><a href="home3.html">Home 3</a></li>
                    </ul>
                </li>
                <li><a target="_blank" href="rtl/components.html">RTL Version</a></li>
                <li class="menu-item-has-children">
                    <a href="#">More Pages</a>
                    <ul class="sub-menu">
                        <li class="menu-item-has-children">
                            <a href="#">Portfolio Pages</a>
                            <ul class="sub-menu">
                                <li><a href="portfolio/single-pages/portfolio-single-01.html">Slider Style</a></li>
                                <li><a href="portfolio/single-pages/portfolio-single-02.html">List Style</a></li>
                                <li><a href="portfolio/single-pages/portfolio-single-03.html">List Full Style</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Blog Pages</a>
                            <ul class="sub-menu">
                                <li><a href="blog/blog-standard.html">Blog Standard</a></li>
                                <li><a href="blog/blog-masonry.html">Blog Masonry</a></li>
                                <li><a href="blog/blog-masonry-sidebar.html">Blog Masonry Sidebar</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Single Blog Pages</a>
                            <ul class="sub-menu">
                                <li><a href="blog/single/single.html">Image</a></li>
                                <li><a href="blog/single/single-audio.html">Audio</a></li>
                                <li><a href="blog/single/single-video-vimeo.html">Vimeo</a></li>
                                <li><a href="blog/single/single-video-youtube.html">Youtube</a></li>
                                <li><a href="blog/single/single-video.html">HTML5 Video</a></li>
                                <li><a href="blog/single/single-slider.html">Slider</a></li>
                                <li><a href="blog/single/single-quote.html">Quote</a></li>
                            </ul>
                        </li>
                        <li><a target="_blank" href="http://themeforest.net/item/matx-material-design-agency-template/13887396">Buy Now</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- end mobile nav -->

        <div style="height: 60px; "></div>
        
        <!-- start main wrapper   -->

        <!-- end main wrapper   -->
        
        <!-- start main footer -->
        <footer class="main-footer">
            <section class="footer-top">
                <div class="section">
                    <div class="section-common-space">
                        <div class="container">
                            <div class="row">
                                <div class="text-center ft-content-start">
                                    <a href="" data-target="#top" class="logo menu-smooth-scroll footer-logo wow fadeIn" data-wow-duration="1s">
                                        <img src="img/logo_lite.png" alt="logo">
                                    </a>
                                    <ul class="clearfix social footer-social hover-round">
                                        <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                                        <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                                        <li><a href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                                        <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="footer-bottom">
                <div class="text-center">
                    <p>MATX &copy; 2016. ALL RIGHT RESERVED</p>
                </div>
            </section>
        </footer>
        <!-- end main footer -->
        
        <!-- footer script start  -->
        <script>window.jQuery || document.write('<script type="text/javascript" src="assets/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
        <script type="text/javascript" src="assets/libs/mdl/material.min.js"></script>
        <script type="text/javascript" src="assets/libs/sweetalert/sweet-alert.min.js"></script>
        <script type="text/javascript" src="assets/js/all-plugins.js"></script>
        <script type="text/javascript" src="assets/js/common-plugins.js"></script>
        <script type="text/javascript" src="assets/libs/owl-carousel/owl.carousel.min.js"></script>
        <script type="text/javascript" src="assets/libs/magnific-popup/jquery.magnific-popup.min.js"></script>

        <script type="text/javascript" src="assets/js/common.js"></script>
        <script type="text/javascript" src="assets/js/all-components.js"></script>
    </body>
</html>