extends ../../layouts/test-default

block content
    // start revolution slider section
    section#home.section-main
        #matx_revslider_1_wrapper.rev_slider_wrapper.fullwidthbanner-container(data-alias='web-product-light-hero66', style='margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;')
            // START REVOLUTION SLIDER 5.0.7 fullwidth mode
            #matx_revslider_1.rev_slider.matx-revslider-1.fullwidthabanner(style='display:none;', data-action='matx_revslider', data-version='5.0.7')
                ul
                    // SLIDE 1
                    li.slider-color-schema-dark(data-index='rs-68', data-transition='zoomout', data-slotamount='default', data-easein='Power4.easeInOut', data-easeout='Power4.easeInOut', data-masterspeed='2000', data-rotate='0', data-saveperformance='off', data-title='Intro', data-description='')
                        // MAIN IMAGE
                        img.rev-slidebg(src='/test/sliders/slide1.jpg', alt='', data-bgposition='center bottom', data-kenburns='on', data-duration='30000', data-ease='Linear.easeNone', data-rotatestart='0', data-rotateend='0', data-offsetstart='0 0', data-offsetend='0 0', data-bgparallax='10', data-no-retina='')
                        // LAYERS
                        // LAYER NR. 1
                        .tp-caption.slide-3.tp-shape.tp-shapewrapper.tp-resizeme.rs-parallaxlevel-0(data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['0','0','0','0']", data-width='full', data-height='full', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='s:300;s:300;', data-start='1000', data-basealign='slide', data-responsive_offset='on', style='z-index:1;background-color: rgba(34, 34, 34, 0.80);')
                        // LAYER NR. 2
                        .tp-caption.rev-title-typo.tp-resizeme.rs-parallaxlevel-0(data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['-54','-52','-84','-79']", data-fontsize="['50','45','50','40']", data-lineheight="['58','52','58','46']", data-width="['1200','1000','750','480']", data-height='none', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', data-mask_in='x:0px;y:0px;', data-mask_out='x:inherit;y:inherit;', data-start='1000', data-splitin='none', data-splitout='none', data-responsive_offset='on', style='z-index: 7; white-space: nowrap; text-align: center')
                            | Slider
                            span 1
                            |  BoT Template
                        // LAYER NR. 3
                        .tp-caption.rev-subtitle-typo.tp-resizeme.rs-parallaxlevel-0(data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['0','0','0','5']", data-fontsize="['17','17','17','17']", data-lineheight="['25','25','25','25']", data-width='none', data-height='none', data-whitespace='nowrap', data-transform_idle='o:1;', data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;', data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', data-mask_in='x:0px;y:[100%];s:inherit;e:inherit;', data-mask_out='x:inherit;y:inherit;s:inherit;e:inherit;', data-start='1000', data-splitin='none', data-splitout='none', data-responsive_offset='on', style='z-index: 8; white-space: nowrap; text-align:center;')
                            | Super clean minimal design. Awesome features
                            span.break with endless possibilites.
                        // LAYER NR. 4
                        .tp-caption.rev-slider-btns.rs-parallaxlevel-0(data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['68','71','76','88']", data-width='400px', data-height='none', data-whitespace='nowrap', data-transform_idle='o:1;', data-transform_hover='o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;', data-style_hover='c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;', data-transform_in='y:50px;opacity:0;s:1500;e:Power4.easeInOut;', data-transform_out='y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', data-mask_out='x:inherit;y:inherit;s:inherit;e:inherit;', data-start='1250', data-splitin='none', data-splitout='none', data-responsive_offset='on', data-responsive='off', style='z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; text-align:center;')
                            a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btn-lg.btn-white.btn-default.tp-resizeme.rs-parallaxlevel-0(href='#', style='margin-left: -20px;') call to action
                    // SLIDE 1
                    li.slider-color-schema-dark(data-index='rs-688', data-transition='zoomout', data-slotamount='default', data-easein='Power4.easeInOut', data-easeout='Power4.easeInOut', data-masterspeed='2000', data-rotate='0', data-saveperformance='off', data-title='Intro', data-description='')
                        // MAIN IMAGE
                        img.rev-slidebg(src='/test/sliders/slide2.jpg', alt='', data-bgposition='center bottom', data-kenburns='on', data-duration='30000', data-ease='Linear.easeNone', data-rotatestart='0', data-rotateend='0', data-offsetstart='0 0', data-offsetend='0 0', data-bgparallax='10', data-no-retina='')
                        // LAYERS
                        // LAYER NR. 1
                        .tp-caption.slide-3.tp-shape.tp-shapewrapper.tp-resizeme.rs-parallaxlevel-0(data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['0','0','0','0']", data-width='full', data-height='full', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='s:300;s:300;', data-start='1000', data-basealign='slide', data-responsive_offset='on', style='z-index:1;background-color: rgba(34, 34, 34, 0.80);')
                        // LAYER NR. 2
                        .tp-caption.rev-title-typo.tp-resizeme.rs-parallaxlevel-0(data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['-54','-52','-84','-79']", data-fontsize="['50','45','50','40']", data-lineheight="['58','52','58','46']", data-width="['1200','1000','750','480']", data-height='none', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;', data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', data-mask_in='x:0px;y:0px;', data-mask_out='x:inherit;y:inherit;', data-start='1000', data-splitin='none', data-splitout='none', data-responsive_offset='on', style='z-index: 7; white-space: nowrap; text-align: center')
                            | Slider
                            span 1
                            |  BoT Template
                        // LAYER NR. 3
                        .tp-caption.rev-subtitle-typo.tp-resizeme.rs-parallaxlevel-0(data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['0','0','0','5']", data-fontsize="['17','17','17','17']", data-lineheight="['25','25','25','25']", data-width='none', data-height='none', data-whitespace='nowrap', data-transform_idle='o:1;', data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;', data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', data-mask_in='x:0px;y:[100%];s:inherit;e:inherit;', data-mask_out='x:inherit;y:inherit;s:inherit;e:inherit;', data-start='1000', data-splitin='none', data-splitout='none', data-responsive_offset='on', style='z-index: 8; white-space: nowrap; text-align:center;')
                            | Super clean minimal design. Awesome features
                            span.break with endless possibilites.
                        // LAYER NR. 4
                        .tp-caption.rev-slider-btns.rs-parallaxlevel-0(data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['68','71','76','88']", data-width='400px', data-height='none', data-whitespace='nowrap', data-transform_idle='o:1;', data-transform_hover='o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;', data-style_hover='c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;', data-transform_in='y:50px;opacity:0;s:1500;e:Power4.easeInOut;', data-transform_out='y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', data-mask_out='x:inherit;y:inherit;s:inherit;e:inherit;', data-start='1250', data-splitin='none', data-splitout='none', data-responsive_offset='on', data-responsive='off', style='z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; text-align:center;')
                            a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btn-lg.btn-white.btn-default.tp-resizeme.rs-parallaxlevel-0(href='#', style='margin-left: -20px;') call to action

        // END REVOLUTION SLIDER
    // end revolution slider section

    // start services section
    section#about.section-main
        // start intro section with icon box
        section.dark-section.overflow-hidden.boderd-intro-imodules
            .section-common-space.text-center
                h2 Services
                .container
                    .owl-carousel-services
                        // start bordered icon box
                        .single-imodule.imodule-centerd.rbodard-imodule.wow.fadeInUp(data-wow-duration='1s')
                            .icon-box
                                i(class='zmdi zmdi-card-travel')
                            .ic-module-content
                                h3.imodule-title Services 1
                                p='description of the thing'
                        // end bordered icon box
                        // start bordered icon box
                        .single-imodule.imodule-centerd.rbodard-imodule.wow.fadeInUp(data-wow-duration='1s')
                            .icon-box
                                i(class='zmdi zmdi-card-travel')
                            .ic-module-content
                                h3.imodule-title Services 1
                                p='description of the thing'
                        // end bordered icon box
                        // start bordered icon box
                        .single-imodule.imodule-centerd.rbodard-imodule.wow.fadeInUp(data-wow-duration='1s')
                            .icon-box
                                i(class='zmdi zmdi-card-travel')
                            .ic-module-content
                                h3.imodule-title Services 1
                                p='description of the thing'
                        // end bordered icon box
                        // start bordered icon box
                        .single-imodule.imodule-centerd.rbodard-imodule.wow.fadeInUp(data-wow-duration='1s')
                            .icon-box
                                i(class='zmdi zmdi-card-travel')
                            .ic-module-content
                                h3.imodule-title Services 1
                                p='description of the thing'
                        // end bordered icon box
    section.video-checkout.overflow-hidden
        .bg-image.video-checkout-bg(data-center='transform: translate3d(0px, -50%, 0px)', data-top-bottom='transform: translate3d(0px, -25%, 0px)', data-bottom-top='transform: translate3d(0px, -75%, 0px)')
        .overlay.overlay-three
            .section-common-space
                .container
                    .text-center.video-checkout-content-start
                        div
                            | Check out
                            a.show-video.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.btn-highlight(href='https://www.youtube.com/watch?v=rrT6v5sOwJg')
                                i.zmdi.zmdi-play
                            |  the video !
    // start testimonial and client logo section
    section#how_it_work.section-main
        .section-common-space
            .container
                // start section title
                .text-center.section-heading
                    h2.section-title HOW IT WORK
                    br
                    p(style='font-size: 1.3rem') | Donec rutrum congue leo eget malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Nulla quis lorem ut libero malesuada feugiat. Donec rutrum congue leo eget malesuada. Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

    section#blog.section-main
        // start blog post section
        section.primary-bg-color.blog-post-section
            .section-common-space
                .container
                    // start section title
                    .text-center.section-heading
                        h2.section-title BLOG POST
                        h3.section-subtitle Check what's new in the world of web development and design trends
                    // end section title
                    .row.blog-post-grid
                        // start single blog post
                        article.col-xxs-12.col-xs-6.col-sm-4.single-blog-post
                            .mdl-card.jumbo-shadow.mdl-shadow--2dp
                                .post-thumb-wrap
                                    // blog post thumbnail
                                    img(src='img/blog/bp1.jpg', alt='Blog 1 Thumb')
                                    .post-meta-info
                                        // post date
                                        span.post-meta-date Merch 14, 2015
                                .post-content-wrap
                                    // blog post title
                                    h2.mdl-card__title-text.mdl-card__title-content
                                        a(href='blog/single/single.html') We support any type of design
                                    // blog post content
                                    .mdl-card__supporting-text
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro velit laboriosam eius amet nobis repellat fugiat adipisci.
                                .mdl-card__actions.mdl-card--border
                                    // blog post comment number
                                    a.blog-comments(href='#') 5 Comments
                                    a#post-1.blog-share
                                        i.zmdi.zmdi-share
                                    // start blog post social icons
                                    ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect.post-share-media.js-post-share-media(data-for='post-1')
                                        li.fb
                                            a(href='blog/single/single.html')
                                                i.zmdi.zmdi-facebook-box
                                                span Facebook
                                        li.tw
                                            a(href='blog/single/single.html')
                                                i.zmdi.zmdi-twitter-box
                                                span Twitter
                                        li.gplus
                                            a(href='blog/single/single.html')
                                                i.zmdi.zmdi-google-plus-box
                                                span Google plus
                                        li.lin
                                            a(href='blog/single/single.html')
                                                i.zmdi.zmdi-linkedin-box
                                                span Linked In
                                    // end blog post social icons
                        // end single blog post
                        // start single blog post
                        article.col-xxs-12.col-xs-6.col-sm-4.single-blog-post
                            .mdl-card.jumbo-shadow.mdl-shadow--2dp
                                .post-thumb-wrap
                                    // blog post thumbnail
                                    img(src='img/blog/bp2.jpg', alt='Blog 2 Thumb')
                                    .post-meta-info
                                        // post date
                                        span.post-meta-date Merch 14, 2015
                                .post-content-wrap
                                    // blog post title
                                    h2.mdl-card__title-text.mdl-card__title-content
                                        a(href='blog/single/single.html') MUSIC for refreshment
                                    // blog post content
                                    .mdl-card__supporting-text
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro velit laboriosam eius amet nobis repellat fugiat adipisci.
                                .mdl-card__actions.mdl-card--border
                                    // blog post comment number
                                    a.blog-comments(href='#') 5 Comments
                                    a#post-2.blog-share
                                        i.zmdi.zmdi-share
                                    // start blog post social icons
                                    ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect.post-share-media.js-post-share-media(data-for='post-2')
                                        li.fb
                                            a(href='blog/single/single.html')
                                                i.zmdi.zmdi-facebook-box
                                                span Facebook
                                        li.tw
                                            a(href='blog/single/single.html')
                                                i.zmdi.zmdi-twitter-box
                                                span Twitter
                                        li.gplus
                                            a(href='blog/single/single.html')
                                                i.zmdi.zmdi-google-plus-box
                                                span Google plus
                                        li.lin
                                            a(href='blog/single/single.html')
                                                i.zmdi.zmdi-linkedin-box
                                                span Linked In
                                    // end blog post social icons
                        // end single blog post
                        // start single blog post
                        article.col-xxs-12.col-xs-6.col-sm-4.single-blog-post
                            .mdl-card.jumbo-shadow.mdl-shadow--2dp
                                .post-thumb-wrap
                                    // blog post thumbnail
                                    img(src='img/blog/bp3.jpg', alt='Blog 3 Thumb')
                                    .post-meta-info
                                        // post date
                                        span.post-meta-date Merch 14, 2015
                                .post-content-wrap
                                    // blog post title
                                    h2.mdl-card__title-text.mdl-card__title-content
                                        a(href='blog/single/single.html') We love photography
                                    // blog post content
                                    .mdl-card__supporting-text
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro velit laboriosam eius amet nobis repellat fugiat adipisci.
                                .mdl-card__actions.mdl-card--border
                                    // blog post comment number
                                    a.blog-comments(href='#') 5 Comments
                                    a#post-3.blog-share
                                        i.zmdi.zmdi-share
                                    // start blog post social icons
                                    ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect.post-share-media.js-post-share-media(data-for='post-3')
                                        li.fb
                                            a(href='blog/single/single.html')
                                                i.zmdi.zmdi-facebook-box
                                                span Facebook
                                        li.tw
                                            a(href='blog/single/single.html')
                                                i.zmdi.zmdi-twitter-box
                                                span Twitter
                                        li.gplus
                                            a(href='blog/single/single.html')
                                                i.zmdi.zmdi-google-plus-box
                                                span Google plus
                                        li.lin
                                            a(href='blog/single/single.html')
                                                i.zmdi.zmdi-linkedin-box
                                                span Linked In
                                    // end blog post social icons
                        // end single blog post
                    // view all blog page button
                    .text-center.view-blog-post.wow.fadeInUpSmall(data-wow-duration='1s')
                        a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btn-default.btn-highlight(href='blog/blog-standard.html') View all
        // end blog post section
        // start newsletter section
        section.newsletter.overflow-hidden
            .bg-image.newsletter-bg(data-center='transform: translate3d(0px, -50%, 0px)', data-top-bottom='transform: translate3d(0px, -25%, 0px)', data-bottom-top='transform: translate3d(0px, -75%, 0px)')
            .overlay.overlay-five
                .section-common-space
                    .container
                        .row
                            .clearfix.col-sm-12.col-md-offset-2.col-md-10.col-lg-offset-2.col-lg-8
                                .section-heading
                                    h2.section-title NEWSLETTER
                                .clearfix.newsletter-form
                                    form.mailchimpForm(action='#')
                                        .mdl-textfield.mdl-js-textfield.news-letter-input
                                            input#nl_email.mdl-textfield__input(type='text', name='EMAIL')
                                            label.mdl-textfield__label(for='nl_email') YOUR EMAIL
                                        button.mdl-button.ripple-black.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btn-default.btn-white.wow.fadeInRight(type='submit', data-wow-duration='1.2s') Subscribe
        // end newsletter section

    section#testimonial.section-main
        // start testimonial slider section
        section.testimonial-section
            .bg-image.testimonial-bg(data-center='transform: translate3d(0px, -50%, 0px)', data-top-bottom='transform: translate3d(0px, -25%, 0px)', data-bottom-top='transform: translate3d(0px, -75%, 0px)')
            .overlay.overlay-four
                .section-common-space
                    // start testimonial slider
                    .testimonial-slider.styled-paginantion.colorsch-black(data-action='testimonialSlider')
                        // start single testimonial
                        .text-center.single-testimonial.wow.fadeIn(data-wow-duration='1s')
                            // start testimonial thumbnail
                            .recomenders-thumb
                                img(src='img/testimonial/01.png', alt='')
                            // end testimonial thumbnail
                            .recomenders-info
                                // testimonial text
                                p
                                    | Distinctively whiteboard interactive partnerships through client-centric ideas. Uniquely engineer future-proof testing procedures with bricks-and-clicks metrics. Authoritatively synthesize bleeding-edge supply chains through granular e-services. Monotonectally.
                                // recommender name and designation
                                div
                                    span.recomenders-name Jeffrey Way,
                                    span.recomenders-role  Nettuts+
                        // end single testimonial
                        // start single testimonial
                        .text-center.single-testimonial
                            // start testimonial thumbnail
                            .recomenders-thumb
                                img(src='img/testimonial/02.png', alt='')
                            // end testimonial thumbnail
                            .recomenders-info
                                // testimonial text
                                p
                                    | Quickly leverage existing quality action items before B2B infrastructures. Professionally disintermediate enterprise networks after go forward potentialities. Intrinsicly exploit innovative communities rather than parallel.
                                // recommender name and designation
                                div
                                    span.recomenders-name Paul Irish,
                                    span.recomenders-role  Themeforest
                        // end single testimonial
                        // start single testimonial
                        .text-center.single-testimonial
                            // start testimonial thumbnail
                            .recomenders-thumb
                                img(src='img/testimonial/03.png', alt='')
                            // end testimonial thumbnail
                            .recomenders-info
                                // testimonial text
                                p
                                    | Professionally integrate granular results through performance based content. Professionally provide access to inexpensive niches after front-end ROI. Competently synthesize backend methodologies whereas multimedia based.
                                // recommender name and designation
                                div
                                    span.recomenders-name Addy Osmani,
                                    span.recomenders-role  Codecanyon
                        // end single testimonial
                    // end testimonial slider
        // end testimonial slider section
        // start clients or logo slider
        section.secondary-bg-color.clients
            .section-common-space.text-center
                h2.section-title Clients
                .container
                    .row
                        .client-slider(data-action='clientSlider')
                            .col-sm-3
                                .single-clients
                                    img(src='/img/logo/client1.png', alt='Client Logo')
                            .col-sm-3
                                .single-clients
                                    img(src='/img/logo/client2.png', alt='Client Logo')
                            .col-sm-3
                                .single-clients
                                    img(src='/img/logo/client3.png', alt='Client Logo')
                            .col-sm-3
                                .single-clients
                                    img(src='/img/logo/client4.png', alt='Client Logo')
                            .col-sm-3
                                .single-clients
                                    img(src='/img/logo/client1.png', alt='Client Logo')
                            .col-sm-3
                                .single-clients
                                    img(src='/img/logo/client2.png', alt='Client Logo')
                            .col-sm-3
                                .single-clients
                                    img(src='/img/logo/client3.png', alt='Client Logo')
        // end clients or logo slider
    // end testimonial and client logo section

    section.section-main
        section.overflow-hidden
            .bg-image.newsletter-bg(data-center='transform: translate3d(0px, -50%, 0px)', data-top-bottom='transform: translate3d(0px, -25%, 0px)', data-bottom-top='transform: translate3d(0px, -75%, 0px)')
            .overlay.overlay-five
                .section-common-space
                    .container
                        .row
                            .clearfix.col-sm-12.col-md-offset-2.col-md-10.col-lg-offset-2.col-lg-8
                                h2.section-title Join us action section
                                p hwwa asd sad sad sad sadsanjd jsdna jsdnjasd jasdn hwwa asd sad sad sad sadsanjd jsdna jsdnjasd jasdn hwwa asd sad sad sad sadsanjd jsdna jsdnjasd jasdn hwwa asd sad sad sad sadsanjd jsdna jsdnjasd jasdn hwwa asd sad sad sad sadsanjd jsdna jsdnjasd jasdn
                                button.mdl-button.ripple-black.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btn-default.btn-white.wow.fadeInRight(type='submit', data-wow-duration='1.2s', style="float: right") Action

    section#contact.section-main.contact.devide-50.devide-bg
        .container
            .row
                // start contact left section/contact address
                .col-sm-6.contact-info-start
                    .section-common-space
                        h2.section-title CONTACT US
                        .contact-info
                            .clearfix.ci-items
                                span.ci-icons
                                    i.zmdi.zmdi-home
                                address 1600 Amphitheatre Parkway, Mountain View, CA 94043, US
                            .clearfix.ci-items
                                span.ci-icons
                                    i.zmdi.zmdi-email
                                address info@coderpixel.com
                            .clearfix.ci-items
                                span.ci-icons
                                    i.zmdi.zmdi-phone
                                address 0088 1234 567890
                            .clearfix.ci-items
                                span.ci-icons
                                    i.zmdi.zmdi-globe
                                address www.coderpixel.com
                // end left contact section
                // start right contact section/contact form
                .col-sm-6.contact-form-start
                    .section-common-space
                        form#contactForm.matx-form-valid.contact-form(action='#')
                            .row
                                .col-sm-12.col-md-6
                                    .mdl-textfield.mdl-js-textfield
                                        input#name.mdl-textfield__input(type='text', name='contactName')
                                        label.mdl-textfield__label(for='name') Name
                                .col-sm-12.col-md-6
                                    .mdl-textfield.mdl-js-textfield
                                        input#email.mdl-textfield__input(type='text', name='contactEmail')
                                        label.mdl-textfield__label(for='email') Email
                            .row
                                .col-sm-12
                                    .mdl-textfield.mdl-js-textfield
                                        input#subject.mdl-textfield__input(type='text', name='contactSubject')
                                        label.mdl-textfield__label(for='subject') Subject
                            .row
                                .col-sm-12
                                    .mdl-textfield.mdl-js-textfield.mdl-textarea
                                        textarea#message.mdl-textfield__input(name='contactMessage')
                                        label.mdl-textfield__label(for='message') Message
                            .row
                                .col-sm-12
                                    .text-left
                                        button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btn-black.btn-default.btn-submit(disabled='') send
                // end right contact section
        // start map section
        .section.bg-image-class.location-on-map
            .overlay
                .text-center.map-content
                    .map-buttons
                        button#map-open.btn-active.btn.btn-block.btn-tranparent.btn-animated.from-top.zmdi.zmdi-chevron-down(type='button')
                            span LOCATE US ON THE MAP
                        button#map-close.btn.btn-block.btn-tranparent.btn-animated.from-bottom.zmdi.zmdi-chevron-up(type='button')
                            span Close the map
                    .map-wrapper
                        #map
        // end map section




block js-body
    script.
        $(document).ready(function () {
            var owl = $('.owl-carousel-services');
            owl.owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                lazyLoad: true,
                autoPlay: true,
                autoPlayTimeout: 1000,
                autoPlayHoverPause: true,
                autoPlaySpeed: 2000,
                items: 3,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 2,
                        nav: false
                    },
                    1000: {
                        items: 3,
                        nav: true
                    }
                }
            })
            owl.trigger('play.owl.autoplay', [1000])
        })