extends ../../layouts/page

block content
    .container.text-center
        h2.title-sec  Request Services
        p.content-italic   Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Proin eget tortor risus. Proin eget tortor risus. Vivamus suscipit tortor eget felis porttitor volutpat. Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec sollicitudin molestie malesuada.

        .row
            .col-sm-8
                form#contactForm.matx-form-valid.contact-form(action='#', method='post')
                    input(type='hidden', name='action', value='contact')
                    .row
                        .col-sm-12.col-md-6
                            .mdl-textfield.mdl-js-textfield
                                input#contactOrganizationName.mdl-textfield__input(type='text', name='contactOrganizationName')
                                label.mdl-textfield__label(for='contactOrganizationName') Organization Name
                        .col-sm-12.col-md-6
                            .mdl-textfield.mdl-js-textfield
                                input#contactName.mdl-textfield__input(type='text', name='contactName')
                                label.mdl-textfield__label(for='contactName') Contact Name
                    .row
                        .col-sm-6
                            .mdl-textfield.mdl-js-textfield
                                input#contactEmail.mdl-textfield__input(type='text', name='contactEmail')
                                label.mdl-textfield__label(for='contactEmail') Email
                        .col-sm-6
                            .mdl-textfield.mdl-js-textfield
                                input#contactMobileNumber.mdl-textfield__input(type='text', name='contactMobileNumber')
                                label.mdl-textfield__label(for='contactMobileNumber') Mobile Number
                    .row
                        .col-sm-12
                            .mdl-textfield.mdl-js-textfield.mdl-textarea
                                textarea#contactInterests.mdl-textfield__input(name='contactInterests')
                                label.mdl-textfield__label(for='contactInterests') Interested.row.row
                        .col-sm-12
                            .mdl-textfield.mdl-js-textfield.mdl-textarea
                                select#contactInterestss.mdl-textfield__input(name='contactInterests')
                                    option(value='') (select one)
                                    each type in interestedTypes
                                        option(value=type.value, selected=formData.interestedTypes == type.value)= type.label
                                label.mdl-textfield__label(for='contactInterestss') Interested.row
                    .col-sm-12
                        .mdl-textfield.mdl-js-textfield.mdl-textarea
                            textarea#contactBudget.mdl-textfield__input(name='contactBudget')
                            label.mdl-textfield__label(for='contactBudget') Budget
                    .row
                        .col-sm-12
                            .text-left
                                button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btn-black.btn-default.btn-submit(disabled='') send