extends ../../layouts/page

block content
    .container.text-center
        h2.title-sec  Request Services
        p.content-italic   Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Proin eget tortor risus. Proin eget tortor risus. Vivamus suscipit tortor eget felis porttitor volutpat. Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec sollicitudin molestie malesuada.

        .row
            .col-md-8
                form#contactRequestServiceForm.matx-form-valid.contact-form(action='#', method='post')
                    input(type='hidden', name='action', value='request_service')
                    .row
                        .col-sm-12.col-md-6
                            .mdl-textfield.mdl-js-textfield
                                input#contactOrganizationName.mdl-textfield__input(type='text', name='contactOrganizationName')
                                label.mdl-textfield__label(for='contactOrganizationName') Organization Name
                        .col-sm-12.col-md-6
                            .mdl-textfield.mdl-js-textfield
                                input#contactName.mdl-textfield__input(type='text', name='contactName')
                                label.mdl-textfield__label(for='contactName') Contact Name
                    .row
                        .col-sm-6
                            .mdl-textfield.mdl-js-textfield
                                input#contactEmail.mdl-textfield__input(type='text', name='contactEmail')
                                label.mdl-textfield__label(for='contactEmail') Email
                        .col-sm-6
                            .mdl-textfield.mdl-js-textfield
                                input#contactMobileNumber.mdl-textfield__input(type='text', name='contactMobileNumber')
                                label.mdl-textfield__label(for='contactMobileNumber') Mobile Number
                    .row
                        //.col-sm-6
                            .mdl-textfield.mdl-js-textfield.mdl-textarea
                                textarea#contactInterests.mdl-textfield__input(name='contactInterests')
                                label.mdl-textfield__label(for='contactInterests') Interested
                        .col-sm-6
                            .mdl-textfield.mdl-js-textfield.mdl-textarea
                                select#contactInterestss.mdl-switch__input(name='contactInterests')
                                    option(value='') (select one)
                                    each type in interestedTypes
                                        option(value=type.value, selected=formData.interestedTypes == type.value)= type.label
                                label.mdl-textfield__label(for='contactInterestss') Interested
                        .col-sm-6
                            .mdl-textfield.mdl-js-textfield.mdl-textarea
                                label.mdl-textfield__label(for='contactBudget') Budget
                                select#contactBudget.mdl-switch__input(name='contactBudget')
                                    option(value='') (select one)
                                    each type in contactBudgetTypes
                                        option(value=type.value, selected=formData.contactBudgetTypes == type.value)= type.label

                    .row
                        .col-sm-12
                            .text-center(style="margin-top: 30px")
                                button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btn-black.btn-default.btn-submit(disabled='', style="") send

            .col-md-4.contact-info-start
                .section-common-space
                    h2.section-title CONTACT US
                    .contact-info
                        .clearfix.ci-items
                            span.ci-icons
                                i.zmdi.zmdi-home
                            address 1600 Amphitheatre Parkway, Mountain View, CA 94043, US
                        .clearfix.ci-items
                            span.ci-icons
                                i.zmdi.zmdi-email
                            address info@coderpixel.com
                        .clearfix.ci-items
                            span.ci-icons
                                i.zmdi.zmdi-phone
                            address 0088 1234 567890
                        .clearfix.ci-items
                            span.ci-icons
                                i.zmdi.zmdi-globe
                            address www.coderpixel.com

