extends ../../layouts/default
block content
    include ../../mixins/services
    +fetchServiceSlider([
        {
            name: 'name'
            , description: 'description'
            , icon: 'zmdi zmdi-card-travel'
            , link: '#client'
        }, {
            name: 'name'
            , description: 'description'
            , icon: 'zmdi zmdi-card-travel'
            , link: '#client'
        }, {
            name: 'name'
            , description: 'description'
            , icon: 'zmdi zmdi-card-travel'
            , link: '#client'
        }
        , {
            name: 'name'
            , description: 'description'
            , icon: 'zmdi zmdi-card-travel'
            , link: '#client'
        }, {
            name: 'name'
            , description: 'description'
            , icon: 'zmdi zmdi-card-travel'
            , link: '#client'
        }, {
            name: 'name'
            , description: 'description'
            , icon: 'zmdi zmdi-card-travel'
            , link: '#client'
        }, {
            name: 'name'
            , description: 'description'
            , icon: 'zmdi zmdi-card-travel'
            , link: '#client'
        }, {
            name: 'name'
            , description: 'description'
            , icon: 'zmdi zmdi-card-travel'
            , link: '#client'
        }
        , {
            name: 'name'
            , description: 'description'
            , icon: 'zmdi zmdi-card-travel'
            , link: '#client'
        }, {
            name: 'name'
            , description: 'description'
            , icon: 'zmdi zmdi-card-travel'
            , link: '#client'
        }
    ])
block js-body
    script.
        $(document).ready(function () {
            var owl = $('.owl-carousel-services');
            owl.owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                lazyLoad: true,
                autoPlay: true,
                autoPlayTimeout: 1000,
                autoPlayHoverPause: true,
                autoPlaySpeed: 2000,
                items: 3,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 2,
                        nav: false
                    },
                    1000: {
                        items: 3,
                        nav: true
                    }
                }
            })
            owl.trigger('play.owl.autoplay',[1000])
        })

