extends ../../layouts/default

block content
    include ../../mixins/services
    +fetchService([
        {
            name: 'name'
            , description: 'description'
            , icon: 'zmdi zmdi-card-travel'
            , link: '#client'
        }, {
            name: 'name'
            , description: 'description'
            , icon: 'zmdi zmdi-card-travel'
            , link: '#client'
        }, {
            name: 'name'
            , description: 'description'
            , icon: 'zmdi zmdi-card-travel'
            , link: '#client'
        }
        , {
            name: 'name'
            , description: 'description'
            , icon: 'zmdi zmdi-card-travel'
            , link: '#client'
        }, {
            name: 'name'
            , description: 'description'
            , icon: 'zmdi zmdi-card-travel'
            , link: '#client'
        }, {
            name: 'name'
            , description: 'description'
            , icon: 'zmdi zmdi-card-travel'
            , link: '#client'
        }, {
            name: 'name'
            , description: 'description'
            , icon: 'zmdi zmdi-card-travel'
            , link: '#client'
        }, {
            name: 'name'
            , description: 'description'
            , icon: 'zmdi zmdi-card-travel'
            , link: '#client'
        }
        , {
            name: 'name'
            , description: 'description'
            , icon: 'zmdi zmdi-card-travel'
            , link: '#client'
        }, {
            name: 'name'
            , description: 'description'
            , icon: 'zmdi zmdi-card-travel'
            , link: '#client'
        }
    ])
